<html>
<head>
    <title>Add New project</title>
</head>
<body>
<h1>Add New project</h1>
<form action="/project/insert" method="get">

    <br />
    <br />
    task description: <input id="projectName" name="projectName" type="text" />

    <input type="submit" />

</form>
</body>

</html>