<html>
<head>
    <title>projects - <%= result[0].projectName %></title>
</head>
<body>
<h1>projects</h1>
<ul>
    <li>project ID: <%= result[0].project_id%></li>
    <li>project Name: <%= result[0].projectDescription %></li>

</ul>
</body>

</html>