<html>
<head>
    <title>Add New task</title>
</head>
<body>
<h1>Add New task</h1>
<form action="/task/insert" method="get">

    <br />
    <br />
    task description: <input id="taskDescription" name="taskDescription" type="text" />
    <br />
    <br />
    priority: <input id="priority" name="priority" type="text" />
    <br />
    <br />
    deadline: <input id="deadline" name="deadline" type="text" />

    <input type="submit" />

</form>
</body>

</html>