<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <!--<p>Welcome to <%= title %><%= subtitle %></p>-->
    <!--<a href="http://www.cs.sonoma.edu/~haderman/">CS355</a>-->
    <!--<br />-->
    <a href="/about">About This Application</a>
    <br /> <br />
    <a href="/task/all">Task</a>
    <br />
    <a href="/team/all">Team</a>
    <br />
    <a href="/project/all">Project</a>
    <br />
    <a href="/bug/all">Bug</a>
    <br />
    <a href="/feature/all">Feature</a>
    <br />
    <a href="/teamIsAssignedProject/all">Team assigned project</a>
    <br />
    <!--<a href="http://localhost:3000/helloworld.html">Absolute Link Example</a>-->
    <!--<br />-->
    <!--<a href="helloworld.html">Relative Link Example</a>-->
    <!--<br />-->
    <!--<a href="/templatelink"> Template Link Example</a>-->
  </body>
</html>
