<html>
<head>
    <title>Add New team</title>
</head>
<body>
<h1>Add New team</h1>
<form action="/team/insert" method="get">

    <br />
    <br />
    team description: <input id="teamName" name="teamName" type="text" />
    <br />
    <br />
    size: <input id="size" name="size" type="text" />
   

    <input type="submit" />

</form>
</body>

</html>