<html>
<head>
    <title>Add New bug</title>
</head>
<body>
<h1>Add New bug</h1>
<form action="/bug/insert" method="get">

    <br />
    <br />
    bug description: <input id="bugName" name="bugName" type="text" />

    <input type="submit" />

</form>
</body>

</html>