<html>
<head>
    <title>bugs - <%= result[0].bugDescription %></title>
</head>
<body>
<h1>bugs</h1>
<ul>
    <li>bug ID: <%= result[0].bug_id%></li>
    <li>bug Name: <%= result[0].bugDescription %></li>

</ul>
</body>

</html>