<html>
<head>
    <title> About Page </title>
</head>
<body>
<h1> About the TaskManagementSystem </h1><br />
<br />
The TMS is a useful little application to keep track of tasks that are being handled by a team that is part of an overall project.<br />
<br /> It keeps track of bugs and features that make up each task as well as the start and end date of the project being worked on. It is ideal for scrum teams that need to keep track of the progress that is made during each sprint as well as manage and prioritize items in the product backlog based on difficulty. <br />
<br />
This project is for a class at my university and I am the only one working on it. I am always open to feedback and suggestions! Feel free to contact me at: CS355test@gmail.com<br />
<br /><br />
<b>TaskManagementSystem Entity Relationship Diagram</b> <br />
<b>TaskManagementSystem Relational Schema</b>
<img src="http://i1356.photobucket.com/albums/q736/madballer423/TMS%20ERD_zpsdrmab0co.jpg" alt=" photo TMS ERD_zpsdrmab0co.jpg" style="width:600px;height:700px;"/>
<br /> <br />
<img src="http://i1356.photobucket.com/albums/q736/madballer423/TMS%20RS_zpsrwrqh3vq.jpg" alt=" photo TMS RS_zpsrwrqh3vq.jpg" style="width:600px;height:700px;"/>
</body>

</html>