<html>
<head>
    <title>Add New feature</title>
</head>
<body>
<h1>Add New feature</h1>
<form action="/feature/insert" method="get">

    <br />
    <br />
    feature description: <input id="featureName" name="featureName" type="text" />

    <input type="submit" />

</form>
</body>

</html>