<html>
<head>
    <title>features - <%= result[0].featureDescription %></title>
</head>
<body>
<h1>features</h1>
<ul>
    <li>feature ID: <%= result[0].feature_id%></li>
    <li>feature Name: <%= result[0].featureDescription %></li>

</ul>
</body>

</html>